@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.STS.Identity.Configuration.Interfaces
@using Skoruba.Duende.IdentityServer.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model Skoruba.Duende.IdentityServer.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration
@{
    Layout = "_AccountLayout";
}

<div class="container-fluid">
    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>@Localizer["InvalidRequest"]</strong>
            @Localizer["NoSchema"]
        </div>
    }
    else
    {
        <div class="authentication-card">
            <div class="card shadow rounded-0 overflow-hidden">
                <div class="row g-0">
                    <div class="col-lg-6 bg-login d-flex align-items-center justify-content-center">
                        <img src="~/assets/images/error/login-img.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title">@Localizer["Title"]</h5>
                            <p class="card-text mb-3">See your growth and get consulting support!</p>
                            @*@await Html.PartialAsync("_ValidationSummary")*@
                            <form class="form-body" asp-route="Login">
                                @if (Model.VisibleExternalProviders.Any())
                                {
                                    @foreach (var provider in Model.VisibleExternalProviders)
                                    {
                                        <div class="d-grid mb-1">
                                            <a class="btn btn-white radius-30"
                                   asp-action="ExternalLogin"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                                <span class="d-flex justify-content-center align-items-center">
                                                    @*<img class="me-2" src="~/assets/images/icons/search.svg" width="16" alt="">*@
                                                    @switch (provider.DisplayName)
                                                    {
                                                        case "GitHub":
                                                            <i class="lni lni-github-original"></i>
                                                            break;
                                                        case "OpenIdConnect":
                                                            <i class="lni lni-microsoft"></i>
                                                            break;
                                                        default:
                                                            <i class="lni lni-link"></i>
                                                            break;
                                                    }
                                                    <div class="ms-2">
                                                        <span>Sign in with @provider.DisplayName</span>
                                                    </div>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                }
                                @if (Model.EnableLocalLogin)
                                {
                                    <div class="login-separater text-center mb-4">
                                        <span>@Localizer["LocalLogin"]</span>
                                        <hr>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <label id="input-username" for="Username" class="form-label">@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]</label>
                                            <div class="ms-auto position-relative">
                                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                                                <input class="form-control radius-30 ps-5"
                                               placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]"
                                               asp-for="Username" aria-label="Username" aria-describedby="input-username" autofocus>
                                               <span asp-validation-for="Username" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label id="input-password" for="Password" class="form-label">@Localizer["Password"]</label>
                                            <div class="ms-auto position-relative">
                                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                                <input type="password" class="form-control radius-30 ps-5"
                                               placeholder="@Localizer["Password"]" aria-label="Password"
                                               aria-describedby="input-password" asp-for="Password" autocomplete="off">
                                               <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        @if (Model.AllowRememberLogin)
                                        {
                                            <div class="col-6">
                                                <div class="form-check form-switch">
                                                    <toggle-button>
                                                        <input asp-for="RememberLogin" type="checkbox" class="form-check-input" checked="">
                                                    </toggle-button>
                                                    <label class="form-check-label" for="RememberLogin">@Localizer["Remember"]</label>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-6 text-end">
                                            <a asp-action="ForgotPassword" asp-controller="Account" value="forgot">@Localizer["Forgot"]</a>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button class="btn btn-primary radius-30" name="button" value="login">@Localizer["Login"]</button>
                                            </div>
                                        </div>
                                        @if (RootConfiguration.RegisterConfiguration.Enabled)
                                        {
                                            <div class="col-12">
                                                <p class="mb-0">
                                                    @Localizer["Don't have an account yet?"]
                                                    <a asp-action="Register" asp-controller="Account" value="forgot">@Localizer["Register"]</a>
                                                </p>
                                            </div>
                                        }
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
