@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.STS.Identity.Configuration.Interfaces
@using Skoruba.Duende.IdentityServer.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model Skoruba.Duende.IdentityServer.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration
@{
    Layout = "_AccountLayout";
}
<div class="mt-4">
    <div class="card rounded-0 overflow-hidden shadow-none border mb-5 mb-lg-0">
        <div class="row g-0">
            <div class="col-12 order-1 col-xl-8 d-flex align-items-center justify-content-center border-end">
                <img src="~/assets/images/error/auth-img-7.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-xl-4 order-xl-2">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title">@Localizer["Title"]</h5>
                    @if (Model.EnableLocalLogin)
                    {
                        <p class="card-text mb-4">@Localizer["LocalLogin"]</p>
                        <form asp-route="Login" class="form-body">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="row g-3">
                                <div class="col-12">
                                    <label id="input-username" for="Username" class="form-label">@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]</label>
                                    <div class="ms-auto position-relative">
                                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                                        <input class="form-control radius-30 ps-5"
                                           placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]"
                                           asp-for="Username" aria-label="Username" aria-describedby="input-username" autofocus>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label id="input-password" for="Password" class="form-label">@Localizer["Password"]</label>
                                    <div class="ms-auto position-relative">
                                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                        <input type="password" class="form-control radius-30 ps-5"
                                           placeholder="@Localizer["Password"]" aria-label="Password"
                                           aria-describedby="input-password" asp-for="Password" autocomplete="off">
                                    </div>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            <toggle-button>
                                                <input asp-for="RememberLogin" type="checkbox" class="form-check-input" checked="">
                                            </toggle-button>
                                            <label class="form-check-label" for="RememberLogin">@Localizer["Remember"]</label>
                                        </div>
                                    </div>
                                }
                                <div class="col-6 text-end">
                                    <a asp-action="ForgotPassword" asp-controller="Account" value="forgot">@Localizer["Forgot"]</a>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary radius-30" name="button" value="login">@Localizer["Login"]</button>
                                        @*<button class="btn btn-secondary" name="button" value="cancel">@Localizer["Cancel"]</button>*@
                                    </div>
                                </div>
                                @if (Model.VisibleExternalProviders.Any())
                                {
                                    <div class="col-12">
                                        <div class="login-separater text-center">
                                            <span>@Localizer["ExternalLogin"]</span>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-center gap-3 justify-content-center">
                                            @foreach (var provider in Model.VisibleExternalProviders)
                                            {
                                                <a class="btn btn-white text-danger"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                                    @provider.DisplayName
                                                </a>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (RootConfiguration.RegisterConfiguration.Enabled)
                                {
                                    <div class="col-12 text-center">
                                        <p class="mb-0">Don't have an account yet? <a asp-action="Register" asp-controller="Account" value="forgot">@Localizer["Register"]</a></p>
                                    </div>
                                }
                            </div>
                        </form>
                    }

                    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                    {
                        <div class="alert alert-warning">
                            <strong>@Localizer["InvalidRequest"]</strong>
                            @Localizer["NoSchema"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
